<%= form_with model: article do |form| %>

  <div class="inner1">
      <%#= form.label :body %>
      <%= form.text_area :body, placeholder:"Whats happening ?..." %>

      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div class="inner2">
    <div class="inner2_content">
      <div style="width: 25%">
        <%= image_tag "video.png"%>
        <spam>live video</spam>
      </div>

      <div style="width: auto">
        <%= image_tag "photo.png"%>
        <spam>photo/Video</spam>
      </div>

      <div style="width: auto">
        <%= image_tag "smile.png"%>
        <spam>Feeling</spam>
      </div>
    </div>

    <div class="inner3">
      <%= form.submit "Post" ,class:"inner2_btn" %>
    </div>
    <% end %>
  </div>

