<div class="mainbody">
  <%= render 'layouts/nevigation' %>
  <div class="innerMain">
    <br>
    <div class="postBlock">
      <%= render "form", article: @article1 %>
    </div>
    <!--  postbody-->
    <br>


    <% @articles.each do |article| %>
      <div class="postDisplay1">
        <div class="titleRow">
          <div>
            <h1><%= article.title %></h1>
          </div>
          <div class="dropdown">
            <span>...</span>
            <div class="dropdown-content">
              <p> <%= link_to "Edit", edit_article_path(article) %></p>
              <p>
                <%= link_to "Destroy", article_path(article), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
              </p>
            </div>
          </div>
        </div>
        <div>
          <p><%= article.body %></p>
        </div>

        <hr>
        <div class="like_Comment">
          <div>
            <%= image_tag("heart.png", size: "16x10", alt: "Edit Entry") %>
            Like
          </div>
          <div>
            <%= image_tag("comment.png", size: "16x10", alt: "Edit Entry") %>
            <%= link_to "comment", article %>
          </div>
        </div>
        <hr>
        <!--commentPost-->

        <% @article = article %>
        <%= render 'comments/form' %>
        <br>
        <div class="recentDis">
          <h4>
            <%=article.comments.order('created_at DESC').first&.body %>
          </h4>

        </div>
      </div>
      <br>
    <% end %>

    <!--postbodt end-->

  </div>

</div>




<!--<div class="row">-->
<!--  <div style="background-color: rgba(115,14,21,0.57)" class="col-6">1</div>-->
<!--  <div style="background-color: rgba(0,83,128,0.46)" class="col-3">2</div>-->
<!--  <div style="background-color: yellow" class="col-3">3</div>-->
<!--  <div style="background-color: lightpink" class="col">4</div>-->
<!--</div>-->