<%= render 'layouts/nevigation' %>
<div class="outerBox">
  <%= render "form", article: @article1 %>
</div>
  <div class="postDisplay">
    <ul>
      <% @articles.each do |article| %>
        <li>
          <p >
            <%= article.body %>
          </p>

          <p>
            <%= link_to "comment", article %>
        <%= link_to "Edit", edit_article_path(article) %>
            <%= link_to "Destroy", article_path(article), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
          </p>
        </li>
      <% end %>
    </ul>
    <div >

      <%= link_to "New Article", new_article_path, class: "btn btn-primary" %>
    </div>
  </div>


<!--<div class="row">-->
<!--  <div style="background-color: rgba(115,14,21,0.57)" class="col-6">1</div>-->
<!--  <div style="background-color: rgba(0,83,128,0.46)" class="col-3">2</div>-->
<!--  <div style="background-color: yellow" class="col-3">3</div>-->
<!--  <div style="background-color: lightpink" class="col">4</div>-->
<!--</div>-->