<%= render 'layouts/nevigation' %>
<br>
<div class="innerMain">
  <br>
  <div class="postBlock">
    <%= render "form", article: @article1 %>
  </div>
  <!--postbody-->
  <br>


  <% @articles.each do |article| %>
    <%# unless article.private? %>
    <% if (current_user.has_role? :admin) %>
      <div class="postDisplay1">
        <div class="titleRow">
          <div>
            <h1><%= article.user.firstname %> <%= article.user.lastname %> </h1>
            <%= article.status %>
            <div>
              <p> <%= time_ago_in_words(article.created_at) %> ago </p>
            </div>
          </div>
          <div class="dropdown">
            <span>...</span>
            <div class="dropdown-content">
              <p> <%= link_to "Edit", edit_article_path(article) %></p>
              <p>
                <%= link_to "Destroy", article_path(article), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
              </p>
            </div>
          </div>
        </div>
        <div>
          <p><%= link_to article.body, article %></p>
        </div>
        <div class="countComent">

          <p> <%= article.likes.count %> Like </p>
          <p> <%= article.comments.count %></p>
          <p>comment</p>
        </div>

        <hr>
        <div class="like_Comment">
          <div class="likeIcon">
            <%= image_tag("heart.png", size: "16x10", alt: "Edit Entry") %>
            <% pre_like = article.likes.find { |like| like.user_id == current_user.id } %>
            <% if pre_like %>
              <%= button_to 'Unlike', article_like_path(article, pre_like), method: :delete %>
            <% else %>
              <%= button_to 'Like', article_likes_path(article), method: :post %>
            <% end %>
          </div>
          <div class="commentIcon">
            <%= image_tag("comment.png", size: "16x10", alt: "Edit Entry") %>
            <%= link_to "comment", article %>
          </div>
        </div>
        <hr>
        <!--commentPost-->

        <% @article = article %>
        <%= render 'comments/form' %>
        <br>
        <div class="recentDis">
          <h4>
            <%= article.comments.order('created_at DESC').first&.body %>
          </h4>

        </div>
      </div>
      <br>
    <% else %>
      <% @articles.where(status: :public).each do |article| %>
        <div class="postDisplay1">
          <div class="titleRow">
            <div>
              <h1><%= article.user.firstname %> <%= article.user.lastname %> </h1>
              <%= article.status %>
              <div>
                <p> <%= time_ago_in_words(article.created_at) %> ago </p>
              </div>
            </div>
            <% if article.user_id == current_user.id %>
              <div class="dropdown">
                <span>...</span>
                <div class="dropdown-content">
                  <p> <%= link_to "Edit", edit_article_path(article) %></p>
                  <p>
                    <%= link_to "Destroy", article_path(article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
                  </p>
                </div>
              </div>
            <% end %>

          </div>
          <div>
            <p><%= link_to article.body, article %></p>
          </div>
          <div class="countComent">

            <p> <%= article.likes.count %> Like </p>
            <p> <%= article.comments.count %></p>
            <p>comment</p>
          </div>

          <hr>
          <div class="like_Comment">
            <div class="likeIcon">
              <%= image_tag("heart.png", size: "16x10", alt: "Edit Entry") %>
              <% pre_like = article.likes.find { |like| like.user_id == current_user.id } %>
              <% if pre_like %>
                <%= button_to 'Unlike', article_like_path(article, pre_like), method: :delete %>
              <% else %>
                <%= button_to 'Like', article_likes_path(article), method: :post %>
              <% end %>
            </div>
            <div class="commentIcon">
              <%= image_tag("comment.png", size: "16x10", alt: "Edit Entry") %>
              <%= link_to "comment", article %>
            </div>
          </div>
          <hr>
          <!--commentPost-->

          <% @article = article %>
          <%= render 'comments/form' %>
          <br>
          <div class="recentDis">
            <h4>
              <%= article.comments.order('created_at DESC').first&.body %>
            </h4>

          </div>
        </div>
        <br>

      <% end %>
      <%# where %>
    <% end %>

  <% end %>
  <%# end %>

  <!--postbodt end-->

</div>

<!--side nav bar-->

<div class="left">
  <div class="sidebar">
    <a class="active" href="http://localhost:3000"> <%= image_tag("feed.png") %> Feed</a>
    <a href="http://localhost:3000/users/edit"> <%= image_tag("profile.png") %> Profile</a>
    <div class="side-log-nav">
      <%= image_tag("logout.png") %>
      <%= link_to "sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>
    </div>
  </div>
</div>
<!--side_bar_end-->



<!--<div class="row">-->
<!--  <div style="background-color: rgba(115,14,21,0.57)" class="col-6">1</div>-->
<!--  <div style="background-color: rgba(0,83,128,0.46)" class="col-3">2</div>-->
<!--  <div style="background-color: yellow" class="col-3">3</div>-->
<!--  <div style="background-color: lightpink" class="col">4</div>-->
<!--</div>-->