<div class="container">
  <%= render 'layouts/nevigation' %>
  <div class="outerBox">
    <div class="postdev">
      <%= render "form", article: @article1 %>
    </div>
    <!--  postbody-->

    <div>
      <% @articles.each do |article| %>
        <div class="postDisplay1">

          <p><%= article.body %></p>


          <div class="dropdown">
            <span>...</span>
            <div class="dropdown-content">
              <p> <%= link_to "Edit", edit_article_path(article) %></p>
              <p>
                <%= link_to "Destroy", article_path(article), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
              </p>
            </div>
          </div>
          <hr>
          <div class="like_Comment">
            <p>Like</p>
            <p>
              <%= link_to "comment", article %>
            </p>
          </div>
          <hr>
                                <!--commentPost-->
          <div>

          </div>

        </div>
      <% end %>

    </div>

    <!--postbodt end-->

  </div>

</div>




<!--<div class="row">-->
<!--  <div style="background-color: rgba(115,14,21,0.57)" class="col-6">1</div>-->
<!--  <div style="background-color: rgba(0,83,128,0.46)" class="col-3">2</div>-->
<!--  <div style="background-color: yellow" class="col-3">3</div>-->
<!--  <div style="background-color: lightpink" class="col">4</div>-->
<!--</div>-->