
<%= render 'layouts/nevigation' %>
<br>
<div class="pageIIbody ">
  <div class="commentOutter">
    <br>
    <div class="commentinner">
      <div>
        <div class="commentContent">
          <h1><%= @article.user.firstname %> <%= @article.user.lastname %></h1>

          <div class="dropdown">
            <span>...</span>
            <div class="dropdown-content">
              <p> <%= link_to "Edit", edit_article_path(@article) %></p>
              <p>
                <%= link_to "Destroy", article_path(@article), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
              </p>
            </div>
          </div>
        </div>


        <h2 style="font-size: 25px"><%= @article.body %></h2>
      </div>
      <hr>
      <div class="setLike">
        <div class="likecount">
          <%= image_tag("heart.png") %>
          <%#= button_to 'Like', article_likes_path(@article), method: :post %>

<!--          <p><%#= @article.likes.count %> <%#= (@article.likes.count) == 1 ? 'Like' : 'Likes'%></p>-->
          <% pre_like = @article.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'Unlike', article_like_path(@article, pre_like), method: :delete %>
          <% else %>
          <%= button_to 'Like', article_likes_path(@article), method: :post %>
          <% end %>
        </div>
        <div>
          <%= image_tag("comment.png") %>
          comment
        </div>
      </div>
      <hr>
      <div class="commentBox">
        <%= render 'comments/form' %>
      </div>


      <h3>Comments</h3>
      <hr>
      <div class="printComment">
        <%= render @article.comments.select(&:persisted?)  %>

<!--        <%#= time_ago_in_words(@article.comments.created_at) %> ago-->
      </div>
    </div>
    <br>
  </div>


</div>

