<table >
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Post </th>
    <th>like count</th>
    <th>comment</th>
  </tr>
  <% @articles.each do |article| %>
    <% if article.comments.present? %>
      <% article.comments.each do |comment| %>
    <tr>
      <td><%= article.user.firstname %></td>
      <td><%= article.user.lastname %></td>
      <td><%= article.body %></td>
      <td><%= article.likes.count %></td>
      <td><%= comment.body %></td>
    </tr>
      <% end %>
    <% else %>
      <tr>
      <td><%= article.user.firstname %></td>
      <td><%= article.user.lastname %></td>
      <td><%= article.body %></td>
      <td><%= article.likes.count %></td>
      <td>nil</td>
      </tr>
  <% end %>
    <% end %>
</table>